body {
  width: 100vw;
  height: 100vh;
}
h1{
  text-align: center;
}

#date {
    text-align: center;
    font-size: 2em;
}

/* Ascii-art style grid definition     */     
.item1 { grid-area: header; }
.item2 { grid-area: main; }
.item3 { grid-area: footer; }

.container {
  display: grid;
  position: relative;
  grid-template-areas:
  'header header header header header header'
  'main main main main main main'
  'main main main main main main'
  'main main main main main main'
  'main main main main main main'
  'main main main main main main'
  'footer footer footer footer footer footer';
  grid-row-gap: 0;
}
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button1 {
  position: relative;
  /*top:120px;*/
  background-color: rgb(73, 71, 69);
  border-radius: 8px;
  color: rgb(71, 130, 179);
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 2px;
/*margin-bottom: 40px; */
  cursor: pointer;
  }

.button2 {
  background-color: rgb(240, 234, 234);
  border-radius: 5px;
  color: rgb(51, 49, 49);
  padding: 5px 15px;
  box-shadow: 15px -75px 129px -101px rgb(177, 175, 175) inset;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 6px 2px;
  margin-bottom: 40px;
  cursor: pointer;
  }
#listform {
  text-align: left;
  margin-left: 25%;
}
#form {
  margin-bottom: 40px;;
}

table,th, td {
  border: 1px solid rgb(206, 205, 205);
  border-collapse: collapse;
  text-align: left;
  padding: 6px;
  margin-bottom: 40px;
  }
th {
  border-top: 2px solid rgb(206, 205, 205);
}
#mapcontainer {
  padding-right: 100%;
  padding-left: 2%;
}

html, body {         
  font-size: 62.5%; 
  height: 100%;    
 }

.item1, .item2, .item3 {
  color: #3d3c3c;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font: 14px Arial, Helvetica, sans-serif;
}
